/*Universal Styles*/
body {
  background: #f5eee0 url(./images/background-img.jpg);
  color: #6f6f6f;
  font-family: 'Montserrat', monospace;
  font-size: 14px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  color: #212a2d;
  font-size: 26px;
}

h3 {
  color: #8C4CF7;
  font-size: 20px;
}

h4 {
  color: #8C4CF7;
  font-size: 14px;
}

p {
  line-height: 24px;
  margin: 8px 0;
}

strong {
  color: #2a1c29;
}

a {
  color: #8C4CF7;
}

.header {
  background: #073349;
  overflow: auto;
}

.header .logo {
  float: left;
}

.header .navigation {
  float: left;
}

.header .navigation {
  float: left;
  list-style: none;
  padding: 0;
  margin: 30px 0 0 -50px;
}

.header .navigation li {
  float: left;
  padding: 20px;
}

.header .navigation li a {
  color: #f5eee0;
  font-weight: bold;
  padding: 4px;
  text-decoration: none;
}

.header .navigation li a.active,
.header .navigation li a.hover {
  border-bottom: 2px solid #8C4CF7;
}

